Repository NVIDIA/KAI-Scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-mod-tidy-check, golangci-lint

go-imports:
  name: goimports
  entry: bash
  args:
  - -c
  - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && goimports -w "$@"'
  - --
  language: system
  pass_filenames: true

go-mod-tidy-check:
  name: go mod tidy check
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  args:
  - -c
  - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && golangci-lint run --fix --fast'
  language: system
  pass_filenames: false
  require_serial: true

fix(test): use testconfig instead of hardcoded KAI constants in e2e
  test/e2e/modules/configurations/feature_flags/hierarchy_fairness_type.go
  test/e2e/modules/configurations/feature_flags/knative_grouping.go
  test/e2e/modules/configurations/feature_flags/placement_strategy.go
  test/e2e/modules/configurations/feature_flags/restrict_node_scheduling.go
  test/e2e/modules/configurations/feature_flags/staleness_grace_period.go
  test/e2e/modules/configurations/scheduler.go
  test/e2e/modules/resources/rd/jobset/jobset.go
  test/e2e/modules/resources/rd/mpi/mpi.go
  test/e2e/modules/resources/rd/pytorch/pytorch.go
  test/e2e/modules/resources/rd/resource_claim.go
  test/e2e/suites/allocate/resources/dra_test.go
  test/e2e/suites/integrations/third_party/knative/knative_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

chore: update coverage badge [skip ci]
  badges/coverage.svg
Due: none

docs: update README and add roadmap.md
  README.md
  roadmap.md
Due: none

docs: update README and add roadmap.md
  README.md
Due: none

docs: add roadmap.md
  roadmap.md
Due: none

Update roadmap.md
  roadmap.md
Due: none

Update README.md
  README.md
Due: none

.
  CHANGELOG.md
Due: none

chore: prepare changelog for 0.13
  CHANGELOG.md
Due: none

chore: prepare changelog for 0.13.0 (#1116)
  CHANGELOG.md
Due: none

.
  SUPPORT.md
Due: none

Add Kai Scheduler VPA objects
  pkg/apis/kai/v1/global.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add VPA Spec definition
  pkg/apis/kai/v1/common/vpa.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add VPA config to the scheduler's components
  pkg/apis/kai/v1/admission/admission.go
  pkg/apis/kai/v1/binder/binder.go
  pkg/apis/kai/v1/config_types.go
  pkg/apis/kai/v1/node_scale_adjuster/node_scale_adjuster.go
  pkg/apis/kai/v1/pod_group_controller/pod_group_controller.go
  pkg/apis/kai/v1/pod_grouper/pod_grouper.go
  pkg/apis/kai/v1/queue_controller/queue_controller.go
  pkg/apis/kai/v1/scheduler/scheduler.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add construction of the VPA object
  pkg/operator/operands/common/vpa.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Build the VPA object for the scheduler's components
  cmd/operator/app/app.go
  pkg/operator/controller/config_controller.go
  pkg/operator/operands/admission/admission.go
  pkg/operator/operands/binder/binder.go
  pkg/operator/operands/known_types/known_types.go
  pkg/operator/operands/known_types/verticalpodautoscalers.go
  pkg/operator/operands/node_scale_adjuster/node_scale_adjuster.go
  pkg/operator/operands/pod_group_controller/pod_group_controller.go
  pkg/operator/operands/pod_grouper/pod_grouper.go
  pkg/operator/operands/queue_controller/queue_controller.go
  pkg/operator/operands/scheduler/scheduler.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add VPA package to dependencies
  go.mod
  go.sum
Due: go-mod-tidy-check

Run make generate
  pkg/apis/kai/v1/admission/zz_generated.deepcopy.go
  pkg/apis/kai/v1/binder/zz_generated.deepcopy.go
  pkg/apis/kai/v1/common/zz_generated.deepcopy.go
  pkg/apis/kai/v1/node_scale_adjuster/zz_generated.deepcopy.go
  pkg/apis/kai/v1/pod_group_controller/zz_generated.deepcopy.go
  pkg/apis/kai/v1/pod_grouper/zz_generated.deepcopy.go
  pkg/apis/kai/v1/queue_controller/zz_generated.deepcopy.go
  pkg/apis/kai/v1/scheduler/zz_generated.deepcopy.go
  pkg/apis/kai/v1/zz_generated.deepcopy.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Test repeatedly
  .github/workflows/on-pr.yaml
Due: none

Update tests to account for VPA
  pkg/apis/kai/v1/admission/admission_test.go
  pkg/apis/kai/v1/binder/binder_test.go
  pkg/apis/kai/v1/node_scale_adjuster/node_scale_adjuster_test.go
  pkg/apis/kai/v1/pod_group_controller/pod_group_controller_test.go
  pkg/apis/kai/v1/pod_grouper/pod_grouper_test.go
  pkg/apis/kai/v1/queue_controller/queue_controller_test.go
  pkg/apis/kai/v1/scheduler/scheduler_test.go
  pkg/operator/operands/deployable/deployable_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix(operator): add Reconciling/NotReady condition reasons for kstatus compatibility
  CHANGELOG.md
  pkg/apis/kai/v1/config_types.go
  pkg/operator/controller/status_reconciler/status_reconciler.go
  pkg/operator/controller/status_reconciler/status_reconciler_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: prepare changelog for 0.12.16 (#1122)
  CHANGELOG.md
Due: none

Add option to setup vpa as part of the e2e script
  hack/setup-e2e-cluster.sh
Due: none

Rollback fix
  pkg/scheduler/plugins/dynamicresources/dynamicresources.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Do not include resources with a count of 0.
  pkg/scheduler/api/resource_info/resource_info.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add kai scheduler CRDs updates
  deployments/kai-scheduler/crds/kai.scheduler_configs.yaml
  deployments/kai-scheduler/crds/kai.scheduler_schedulingshards.yaml
  deployments/kai-scheduler/crds/kai.scheduler_topologies.yaml
  deployments/kai-scheduler/crds/scheduling.run.ai_bindrequests.yaml
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
  deployments/kai-scheduler/crds/scheduling.run.ai_queues.yaml
Due: none

Add VPA Field Inherit to allow detection of changes in existing VPA objects
  pkg/operator/controller/config_controller.go
  pkg/operator/controller/schedulingshard_controller.go
  pkg/operator/operands/known_types/verticalpodautoscalers.go
Due: go-imports, go-mod-tidy-check, golangci-lint

add changelog
  CHANGELOG.md
Due: none

Run make
  deployments/kai-scheduler/crds/kai.scheduler_topologies.yaml
  deployments/kai-scheduler/templates/rbac/admission.yaml
  deployments/kai-scheduler/templates/rbac/binder.yaml
  deployments/kai-scheduler/templates/rbac/nodescaleadjuster.yaml
  deployments/kai-scheduler/templates/rbac/operator.yaml
  deployments/kai-scheduler/templates/rbac/podgroupcontroller.yaml
  deployments/kai-scheduler/templates/rbac/podgrouper.yaml
  deployments/kai-scheduler/templates/rbac/queuecontroller.yaml
  deployments/kai-scheduler/templates/rbac/scheduler.yaml
Due: none

Support a case where VPA isn't installed
  pkg/operator/operands/known_types/verticalpodautoscalers.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Fix import order
  pkg/operator/operands/known_types/verticalpodautoscalers.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Address 9 PR feedback comments
  pkg/apis/scheduling/v2alpha2/podgroup_types.go
  pkg/apis/scheduling/v2alpha2/podgroup_webhook.go
  pkg/apis/scheduling/v2alpha2/podgroup_webhook_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Address 6 PR feedback comments
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
  pkg/apis/scheduling/v2alpha2/podgroup_types.go
  pkg/apis/scheduling/v2alpha2/podgroup_webhook.go
  pkg/apis/scheduling/v2alpha2/podgroup_webhook_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Address 2 PR feedback comments
  pkg/apis/scheduling/v2alpha2/podgroup_webhook_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Address 2 PR feedback comments
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
  pkg/apis/scheduling/v2alpha2/podgroup_webhook_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

refactor: add bind request indexer by GPU groups
  cmd/binder/app/app.go
  pkg/binder/binding/resourcereservation/resource_reservation.go
  pkg/binder/binding/resourcereservation/resource_reservation_test.go
  pkg/binder/controllers/integration_tests/suite_test.go
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat: make RayGrouper work with TopologyConstraints
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper.go
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Path conditions:
  go-imports: any of: \.go$, but not: (?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$

  go-mod-tidy-check: any of: (^go\.(mod|sum)$|\.go$), but not: (?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$

  golangci-lint: any of: (^go\.(mod|sum)$|\.go$) and \.go$ and not ((?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$
)
