Repository NVIDIA/KAI-Scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-mod-tidy-check, golangci-lint

.pre-commit-config.yaml:

# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0
#
# Pre-commit hooks configuration for KAI Scheduler
#
# Installation:
#   1. Install pre-commit: pip install pre-commit (or brew install pre-commit)
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Prerequisites:
#   - Go 1.24.4+ installed and in PATH
#   - goimports: go install golang.org/x/tools/cmd/goimports@latest
#   - golangci-lint: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.yaml|.*\.yml)$
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  # Go formatting and linting
  - repo: local
    hooks:
      # Format and organize imports (includes gofmt)
      - id: go-imports
        name: goimports
        entry: bash
        args:
          - -c
          - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && goimports -w "$@"'
          - --
        language: system
        types: [go]
        pass_filenames: true

      # Ensure go.mod and go.sum are in sync
      - id: go-mod-tidy-check
        name: go mod tidy check
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: (^go\.(mod|sum)$|\.go$)
        pass_filenames: false

      # Run fast linter checks
      - id: golangci-lint
        name: golangci-lint
        entry: bash
        args:
          - -c
          - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && golangci-lint run --fix --fast'
        language: system
        types: [go]
        files: (^go\.(mod|sum)$|\.go$)
        pass_filenames: false
        require_serial: true

# Exclude patterns
exclude: |
  (?x)^(
      \.git/|
      \.github/|
      bin/|
      build/.*\.mk$|
      deployments/.*\.(yaml|yml)$|
      hack/.*\.(yaml|yml|sh)$|
      \.pre-commit-config\.yaml|
      CHANGELOG\.md|
      NOTICE|
      pkg/.*/mock/.*\.go$
  )$

refactor: changing time-awareness to time-based-fairshare
  AGENTS.md
  CHANGELOG.md
  Makefile
  README.md
  cmd/time-based-fairshare-simulator/README.md
  cmd/time-based-fairshare-simulator/examples/example_config.yaml
  cmd/time-based-fairshare-simulator/examples/plot_simple.py
  cmd/time-based-fairshare-simulator/examples/requriements.txt
  cmd/time-based-fairshare-simulator/examples/simulation_config_oscillating.yaml
  cmd/time-based-fairshare-simulator/main.go
  docs/developer/designs/time-based-fairshare/data-fetching.md
  docs/developer/designs/time-based-fairshare/metrics-store-requriements.md
  docs/developer/designs/time-based-fairshare/strict-drf-fig-1.svg
  docs/developer/designs/time-based-fairshare/time-based-fairshare-fig-2.svg
  docs/developer/designs/time-based-fairshare/time-based-fairshare.md
  docs/time-based-fairshare/README.md
  docs/time-based-fairshare/results.png
  examples/README.md
  examples/time-based-fairshare/README.md
  examples/time-based-fairshare/scheduling-shard-external-prometheus.yaml
  examples/time-based-fairshare/scheduling-shard-managed-prometheus.yaml
  examples/time-based-fairshare/scheduling-shard-minimal.yaml
  examples/time-based-fairshare/two-queue-oscillation/README.md
  examples/time-based-fairshare/two-queue-oscillation/jobs.yaml
  examples/time-based-fairshare/two-queue-oscillation/queues.yaml
  examples/time-based-fairshare/two-queue-oscillation/simulation-config.yaml
Due: go-imports, go-mod-tidy-check, golangci-lint

Remove pod-name label from bindingRequests - v0.4
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Remove pod-name label from bindingRequests - v0.4 (#931)
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Remove pod-name label from bindingRequests - v0.6 (#930)
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add discussion points
  docs/developer/designs/k8s-workload-api/README.md
Due: none

another discussion point
  docs/developer/designs/k8s-workload-api/README.md
Due: none

Post meeting changes
  docs/developer/designs/k8s-workload-api/README.md
Due: none

refactor: remove redundent comments
  cmd/snapshot-tool/main.go
  pkg/common/resources/dra_node_resources.go
  pkg/common/resources/dra_node_resources_test.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat: record DRA gpus in snapshot
  cmd/snapshot-tool/main.go
  pkg/common/resources/dra_node_resources.go
  pkg/common/resources/dra_node_resources_test.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
  pkg/scheduler/cache/cluster_info/data_lister/data_lister_mock.go
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
  pkg/scheduler/cache/cluster_info/data_lister/kubernetes_lister.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: CHANGELOG
  CHANGELOG.md
Due: none

feat: add ResourceClaim lister
  pkg/scheduler/cache/cluster_info/data_lister/data_lister_mock.go
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
  pkg/scheduler/cache/cluster_info/data_lister/kubernetes_lister.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: CR comments and refactor
  pkg/common/resources/dra.go
  pkg/common/resources/dra_node_resources.go
  pkg/common/resources/dra_node_resources_test.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
  pkg/scheduler/cache/cluster_info/data_lister/data_lister_mock.go
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
  pkg/scheduler/cache/cluster_info/data_lister/kubernetes_lister.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: CR comments, remove dead code, simplify DRA GPUs
  pkg/common/resources/dra_node_resources.go
  pkg/common/resources/dra_node_resources_test.go
  pkg/scheduler/api/cluster_info.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: improve AGENTS.md
  AGENTS.md
Due: none

docs: comments guidelines
  AGENTS.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

added test to assert ray subgrouping
  test/e2e/suites/integrations/third_party/ray.io/ray_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

WIP grouper
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Fixed grouping logic
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Cleaner cleanup
  test/e2e/suites/integrations/third_party/ray.io/ray_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

changelog
  CHANGELOG.md
Due: none

Fixed cleanup
  test/e2e/suites/integrations/third_party/ray.io/ray_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

tidy
  go.sum
Due: go-mod-tidy-check

Removed flat annotation
  CHANGELOG.md
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Backwards compatibility
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper.go
  pkg/podgrouper/podgrouper/plugins/ray/ray_grouper_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

chore: update coverage badge [skip ci]
  badges/coverage.svg
Due: none

Revert for CRD upgrader
  deployments/crd-upgrader/Dockerfile
  deployments/crd-upgrader/apply-crds.sh
Due: none

1- Update changelog with the unsupported types message 2- Do not add a draGpuCounts count to the resource object (count as float gpus) 3- Update the integration test utils to incorporate node slices.
  CHANGELOG.md
  pkg/scheduler/actions/integration_tests/allocate/allocate_dra_test.go
  pkg/scheduler/api/node_info/gpu_sharing_node_info.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/resource_info/gpu_resource_requirment.go
  pkg/scheduler/api/resource_info/resource_info.go
  pkg/scheduler/api/resource_info/resource_requirment.go
  pkg/scheduler/plugins/proportion/proportion.go
  pkg/scheduler/test_utils/nodes_fake/nodes.go
  pkg/scheduler/test_utils/test_utils_builder.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Remove double dra claims lister
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
  pkg/scheduler/cache/cluster_info/data_lister/data_lister_mock.go
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
  pkg/scheduler/cache/cluster_info/data_lister/kubernetes_lister.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix(scheduler): prevent device-plugin GPU pods on DRA-only nodes
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

update changelog
  CHANGELOG.md
Due: none

CR 1
  pkg/scheduler/cache/cluster_info/data_lister/interface.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat: extend podgroup with semi-preemptible
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
  pkg/apis/scheduling/v2alpha2/podgroup_types.go
  pkg/common/podgroup/preemptible.go
  pkg/common/podgroup/preemptible_test.go
  pkg/podgrouper/podgrouper/plugins/defaultgrouper/default_grouper_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

CR 2
  pkg/scheduler/api/common_info/pod_errors.go
  pkg/scheduler/api/resource_info/gpu_resource_requirment.go
  pkg/scheduler/api/resource_info/resource_info.go
  pkg/scheduler/plugins/proportion/utils/utils.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Connect DRA claims created by templates to pods
  pkg/scheduler/cache/cluster_info/cluster_info.go
Due: go-imports, go-mod-tidy-check, golangci-lint

1- Fix DRA env-test 2- Update fake gpu operator in hack/setup-e2e-cluster.sh
  hack/setup-e2e-cluster.sh
  pkg/env-tests/dynamicresource/dynamicresource.go
  pkg/env-tests/scheduler_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

chore(scheduler): add benchmarks for api operations and scheduling hot paths
  pkg/scheduler/actions/integration_tests/reclaim/reclaim_benchmark_test.go
  pkg/scheduler/actions/integration_tests/reclaim/reclaim_large_jobs_test.go
  pkg/scheduler/api/node_info/node_info_benchmark_test.go
  pkg/scheduler/api/pod_info/pod_info_benchmark_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Fix env-test part 2
  pkg/env-tests/scheduler_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint
