Repository NVIDIA/KAI-Scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-mod-tidy-check, golangci-lint

.pre-commit-config.yaml:

# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0
#
# Pre-commit hooks configuration for KAI Scheduler
#
# Installation:
#   1. Install pre-commit: pip install pre-commit (or brew install pre-commit)
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Prerequisites:
#   - Go 1.24.4+ installed and in PATH
#   - goimports: go install golang.org/x/tools/cmd/goimports@latest
#   - golangci-lint: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.yaml|.*\.yml)$
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  # Go formatting and linting
  - repo: local
    hooks:
      # Format and organize imports (includes gofmt)
      - id: go-imports
        name: goimports
        entry: bash
        args:
          - -c
          - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && goimports -w "$@"'
          - --
        language: system
        types: [go]
        pass_filenames: true

      # Ensure go.mod and go.sum are in sync
      - id: go-mod-tidy-check
        name: go mod tidy check
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: (^go\.(mod|sum)$|\.go$)
        pass_filenames: false

      # Run fast linter checks
      - id: golangci-lint
        name: golangci-lint
        entry: bash
        args:
          - -c
          - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && golangci-lint run --fix --fast'
        language: system
        types: [go]
        files: (^go\.(mod|sum)$|\.go$)
        pass_filenames: false
        require_serial: true

# Exclude patterns
exclude: |
  (?x)^(
      \.git/|
      \.github/|
      bin/|
      build/.*\.mk$|
      deployments/.*\.(yaml|yml)$|
      hack/.*\.(yaml|yml|sh)$|
      \.pre-commit-config\.yaml|
      CHANGELOG\.md|
      NOTICE|
      pkg/.*/mock/.*\.go$
  )$

perf(scheduler): use index-based lookup for victim job dedup in preemption solver
  pkg/scheduler/actions/benchmark_test.go
  pkg/scheduler/actions/common/solvers/by_pod_solver.go
  pkg/scheduler/actions/common/solvers/scenario/base_scenario.go
  pkg/scheduler/actions/common/solvers/scenario/base_scenario_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add retry logic in e2e tests
  test/e2e/suites/allocate/subgroups/subgroups_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat: add env-setup script with README update
  docs/scale-tests/README.md
  hack/setup-scale-test-env.sh
  test/e2e/scale/binder.yaml
  test/e2e/scale/scheduler-service-monitor.yaml
Due: none

docs: CHANGELOG
  CHANGELOG.md
Due: none

test: Add retry logic to update in e2e tests v0.12 (#1030)
  test/e2e/suites/allocate/subgroups/subgroups_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Added changelog
  CHANGELOG.md
Due: none

feat(helm): add plugin and action override support to scheduler chart
  deployments/kai-scheduler/examples/custom-plugins-actions-values.yaml
  deployments/kai-scheduler/templates/default-shard.yaml
  deployments/kai-scheduler/values.yaml
Due: none

refactor(helm): simplify plugin and action config using toYaml
  deployments/kai-scheduler/templates/default-shard.yaml
Due: none

Header
  deployments/kai-scheduler/examples/custom-plugins-actions-values.yaml
Due: none

docs: README
  docs/scale-tests/README.md
Due: none

docs: kwok-operator reference
  docs/scale-tests/README.md
  hack/setup-scale-test-env.sh
Due: none

docs: kwok-operator reference
  hack/setup-scale-test-env.sh
  test/e2e/scale/binder.yaml
  test/e2e/scale/scheduler-service-monitor.yaml
Due: none

feat: Helm plugin action overrides v0.12 (#1026)
  CHANGELOG.md
  deployments/kai-scheduler/examples/custom-plugins-actions-values.yaml
  deployments/kai-scheduler/templates/default-shard.yaml
  deployments/kai-scheduler/values.yaml
Due: none

refactor(scheduler): migrate NodeInfo, PodInfo, and plugin resource reads to vectors
  pkg/scheduler/actions/common/allocate.go
  pkg/scheduler/actions/common/feasible_nodes_test.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus_test.go
  pkg/scheduler/actions/common/solvers/pod_scenario_builder_test.go
  pkg/scheduler/actions/utils/job_order_by_queue_test.go
  pkg/scheduler/api/common_info/job_errors.go
  pkg/scheduler/api/common_info/job_errors_test.go
  pkg/scheduler/api/common_info/pod_errors.go
  pkg/scheduler/api/common_info/pod_errors_test.go
  pkg/scheduler/api/node_info/gpu_sharing_node_info.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/api/pod_info/pod_info.go
  pkg/scheduler/api/resource_info/resource_vector.go
  pkg/scheduler/api/resource_info/resource_vector_test.go
  pkg/scheduler/cache/cluster_info/cluster_info.go
  pkg/scheduler/framework/session.go
  pkg/scheduler/framework/statement.go
  pkg/scheduler/plugins/nodeavailability/nodeavailability.go
  pkg/scheduler/plugins/nodeplacement/nodepack_test.go
  pkg/scheduler/plugins/nodeplacement/nodespread_test.go
  pkg/scheduler/plugins/nodeplacement/pack.go
  pkg/scheduler/plugins/nodeplacement/spread.go
  pkg/scheduler/plugins/proportion/capacity_policy/capacity_policy.go
  pkg/scheduler/plugins/proportion/capacity_policy/capacity_policy_test.go
  pkg/scheduler/plugins/proportion/proportion.go
  pkg/scheduler/plugins/proportion/proportion_test.go
  pkg/scheduler/plugins/proportion/reclaimable/reclaimable.go
  pkg/scheduler/plugins/proportion/reclaimable/reclaimable_test.go
  pkg/scheduler/plugins/proportion/reclaimable/reclaimer_info.go
  pkg/scheduler/plugins/proportion/reclaimable/strategies/strategies.go
  pkg/scheduler/plugins/proportion/reclaimable/strategies/strategies_test.go
  pkg/scheduler/plugins/proportion/utils/utils.go
  pkg/scheduler/plugins/resourcetype/resourcetype.go
  pkg/scheduler/plugins/topology/job_filtering.go
  pkg/scheduler/plugins/topology/job_filtering_test.go
  pkg/scheduler/plugins/topology/node_scoring_test.go
  pkg/scheduler/plugins/topology/topology_plugin.go
  pkg/scheduler/plugins/topology/topology_structs.go
Due: go-imports, go-mod-tidy-check, golangci-lint

refactor(scheduler): migrate PodGroupInfo methods to resource vectors
  pkg/scheduler/actions/allocate/allocate.go
  pkg/scheduler/actions/common/action.go
  pkg/scheduler/actions/consolidation/consolidation.go
  pkg/scheduler/actions/preempt/preempt.go
  pkg/scheduler/actions/reclaim/reclaim.go
  pkg/scheduler/actions/utils/action.go
  pkg/scheduler/actions/utils/job_order_by_queue_test.go
  pkg/scheduler/api/podgroup_info/allocation_info.go
  pkg/scheduler/api/podgroup_info/allocation_info_test.go
  pkg/scheduler/api/podgroup_info/job_info.go
  pkg/scheduler/plugins/proportion/proportion.go
  pkg/scheduler/plugins/proportion/queue_order/queue_order.go
  pkg/scheduler/plugins/proportion/queue_order/queue_order_test.go
  pkg/scheduler/plugins/proportion/reclaimable/reclaimable_test.go
  pkg/scheduler/plugins/proportion/utils/utils.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: document Docker prerequisite and WSL credential-helper fix (fixes #939)
  docs/developer/building-from-source.md
Due: none

fix: skip runtimeClassName injection when gpuPodRuntimeClassName is empty
  CHANGELOG.md
  pkg/admission/webhook/v1alpha2/runtimeenforcement/runtime_enforcement.go
  pkg/admission/webhook/v1alpha2/runtimeenforcement/runtime_enforcement_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: skip runtimeClassName injection when gpuPodRuntimeClassName is empty (#1035)
  CHANGELOG.md
  pkg/admission/webhook/v1alpha2/runtimeenforcement/runtime_enforcement.go
  pkg/admission/webhook/v1alpha2/runtimeenforcement/runtime_enforcement_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

refactor(scheduler): remove Resource fields from NodeInfo, use vectors only
  pkg/scheduler/actions/common/feasible_nodes_test.go
  pkg/scheduler/actions/common/solvers/pod_scenario_builder_test.go
  pkg/scheduler/api/cluster_info.go
  pkg/scheduler/api/node_info/gpu_sharing_node_info.go
  pkg/scheduler/api/node_info/node_info.go
  pkg/scheduler/api/node_info/node_info_storage_test.go
  pkg/scheduler/api/node_info/node_info_test.go
  pkg/scheduler/api/resource_info/resource_vector.go
  pkg/scheduler/cache/cluster_info/cluster_info_test.go
  pkg/scheduler/framework/statement_test.go
  pkg/scheduler/framework/statement_test_utils.go
  pkg/scheduler/k8s_internal/predicates/maxNodeResources.go
  pkg/scheduler/k8s_internal/predicates/maxNodeResources_test.go
  pkg/scheduler/plugins/nodeplacement/nodepack_test.go
  pkg/scheduler/plugins/nodeplacement/nodespread_test.go
  pkg/scheduler/plugins/predicates/predicates.go
  pkg/scheduler/plugins/predicates/predicates_test.go
  pkg/scheduler/plugins/proportion/proportion_test.go
  pkg/scheduler/plugins/topology/topology_plugin_test.go
  pkg/scheduler/test_utils/nodes_fake/nodes.go
  pkg/scheduler/test_utils/test_utils.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: add after-optimization benchmark results to vectorizing-resources design
  docs/developer/designs/vectorizing-resources/README.md
Due: none

docs(scheduler): add vectorizing resources design document with baselines
  docs/developer/designs/vectorizing-resources/README.md
Due: none

review updates
  docs/developer/designs/vectorizing-resources/README.md
Due: none

feat(reflectjoborder): add cross-session caching with fingerprint-based change detection
  pkg/scheduler/plugins/factory.go
  pkg/scheduler/plugins/reflectjoborder/fingerprint.go
  pkg/scheduler/plugins/reflectjoborder/reflect_job_order.go
  pkg/scheduler/plugins/reflectjoborder/reflect_job_order_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: add design doc for reflectjoborder cross-session caching
  docs/developer/designs/reflectjoborder-caching/README.md
Due: none

chore(reflectjoborder): add repeated-session benchmarks
  pkg/scheduler/plugins/reflectjoborder/reflect_job_order_benchmark_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat(api): enforce lowercase validation on SubGroup name and parent fields
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
  pkg/apis/scheduling/v2alpha2/podgroup_types.go
  pkg/apis/scheduling/v2alpha2/podgroup_webhook_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

ci: update go to 1.26
  .github/workflows/benchmark.yaml
  .github/workflows/on-pr.yaml
  .github/workflows/on-release.yaml
  .github/workflows/push-artifacts.yaml
  .github/workflows/update-coverage-badge.yaml
  CHANGELOG.md
  Dockerfile
  build/builder/Dockerfile
  build/makefile/golang.mk
  go.mod
Due: go-mod-tidy-check

chore: update local cluster script to mimic ci
  hack/setup-e2e-cluster.sh
Due: none

fix: add resource scaling for services
  hack/setup-scale-test-env.sh
Due: none

fix: use v0.16.1 controller-gen annotation in podgroups CRD
  deployments/kai-scheduler/crds/scheduling.run.ai_podgroups.yaml
Due: none

Updating maintainers list
  MAINTAINERS.md
Due: none

feat: add global.jsonLog Helm value for production logging mode
  CHANGELOG.md
  cmd/scheduler/app/options/options.go
  cmd/scheduler/app/server.go
  cmd/snapshot-tool/main.go
  deployments/kai-scheduler/templates/kai-config.yaml
  deployments/kai-scheduler/templates/services/operator.yaml
  deployments/kai-scheduler/values.yaml
  docs/operator/README.md
  pkg/apis/kai/v1/global.go
  pkg/apis/kai/v1/zz_generated.deepcopy.go
  pkg/env-tests/scheduler/scheduler.go
  pkg/operator/operands/admission/resources.go
  pkg/operator/operands/binder/resources.go
  pkg/operator/operands/node_scale_adjuster/resources.go
  pkg/operator/operands/pod_group_controller/resources.go
  pkg/operator/operands/pod_grouper/resources.go
  pkg/operator/operands/queue_controller/resources.go
  pkg/operator/operands/scheduler/resources_for_shard.go
  pkg/scheduler/log/log.go
  pkg/scheduler/test_utils/test_utils.go
Due: go-imports, go-mod-tidy-check, golangci-lint

feat: add env-setup script with README update (#1031)
  CHANGELOG.md
  docs/scale-tests/README.md
  hack/setup-scale-test-env.sh
  test/e2e/scale/binder.yaml
  test/e2e/scale/scheduler-service-monitor.yaml
Due: none

1- Fix: victims updates for idle gpus filter take DRA into account 2- Move more to common functions
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus/common.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus/idle_gpus.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus/topology_aware_idle_gpus.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add basic topology aware scenario filter - for each topology constraint with "required", check if a domain exists on this level with enough free gpus
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/topology_aware_idle_gpus.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/topology_aware_idle_gpus_test.go
  pkg/scheduler/actions/common/solvers/pod_scenario_builder.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Merge similar logic between idle_gpus filter and topology aware idle_gpus filter
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/common.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/idle_gpus_test.go
  pkg/scheduler/actions/common/solvers/accumulated_scenario_filters/topology_aware_idle_gpus.go
Due: go-imports, go-mod-tidy-check, golangci-lint
