Repository NVIDIA/KAI-Scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-mod-tidy-check, golangci-lint

go-imports:
  name: goimports
  entry: bash
  args:
  - -c
  - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && goimports -w "$@"'
  - --
  language: system
  pass_filenames: true

go-mod-tidy-check:
  name: go mod tidy check
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash
  args:
  - -c
  - 'export PATH="$(go env GOBIN 2>/dev/null || echo):$(go env GOPATH 2>/dev/null | cut -d: -f1)/bin:$HOME/go/bin:$HOME/.local/bin:$PATH" && golangci-lint run --fix --fast'
  language: system
  pass_filenames: false
  require_serial: true

docs: add kubernetes workload API integration design
  docs/developer/designs/k8s-workload-api/README.md
Due: none

fix(operator): ClusterPolicy CDI parsing with gpu-operator > v25.10.0
  go.mod
  pkg/operator/operands/binder/binder_test.go
  pkg/operator/operands/binder/resources.go
Due: go-imports, go-mod-tidy-check, golangci-lint

update changelog
  CHANGELOG.md
Due: none

fix(operator): ClusterPolicy CDI parsing with gpu-operator > v25.10.0 (#909)
  CHANGELOG.md
  go.mod
  pkg/operator/operands/binder/binder_test.go
  pkg/operator/operands/binder/resources.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs: added METRICS.md for metrics documentation
  docs/metrics/METRICS.md
Due: none

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy-check

fix(operator): ClusterPolicy CDI parsing with gpu-operator > v25.10.0 (#912)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/operator/operands/binder/binder_test.go
  pkg/operator/operands/binder/resources.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: CVE fix
  go.mod
  go.sum
Due: go-mod-tidy-check

tidy
  go.mod
  go.sum
Due: go-mod-tidy-check

fix: CVE-2025-23266 mitigation (#914)
  go.mod
  go.sum
Due: go-mod-tidy-check

add security context support to binder pod
  cmd/binder/app/app.go
  cmd/binder/app/options.go
  deployments/kai-scheduler/crds/kai.scheduler_configs.yaml
  pkg/apis/kai/v1/binder/binder.go
  pkg/apis/kai/v1/binder/zz_generated.deepcopy.go
  pkg/binder/binding/resourcereservation/resource_reservation.go
  pkg/binder/binding/resourcereservation/resource_reservation_test.go
  pkg/binder/controllers/bindrequest_controller_test.go
  pkg/binder/controllers/integration_tests/suite_test.go
  pkg/operator/operands/binder/resources.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: snapshot tool topology & DRA update v0.9
  cmd/snapshot-tool/main.go
  pkg/common/feature_gates/feature_gates.go
Due: go-imports, go-mod-tidy-check, golangci-lint

add queue validator
  pkg/apis/scheduling/v2/queue_validator.go
  pkg/apis/scheduling/v2/queue_webhook.go
Due: go-imports, go-mod-tidy-check, golangci-lint

validation for queue optional, address code review
  cmd/queuecontroller/app/app.go
  cmd/queuecontroller/app/options.go
  pkg/apis/scheduling/v2/queue_validator.go
  pkg/apis/scheduling/v2/queue_webhook.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix make validate
  cmd/queuecontroller/app/app.go
  pkg/admission/webhook/queuehooks/queue_validator.go
  pkg/apis/scheduling/v2/queue_webhook.go
  pkg/apis/scheduling/v2/zz_generated.deepcopy.go
Due: go-imports, go-mod-tidy-check, golangci-lint

add queue validator test and changelog entry
  CHANGELOG.md
  pkg/admission/webhook/queuehooks/queue_validator_test.go
Due: go-imports, go-mod-tidy-check, golangci-lint

add github profile to changelog
  CHANGELOG.md
Due: none

refactor: use early returns and remove comments
  pkg/admission/webhook/queuehooks/queue_validator.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix lint
  cmd/snapshot-tool/main.go
Due: go-imports, go-mod-tidy-check, golangci-lint

chore: added more accurate descriptions
  docs/metrics/METRICS.md
Due: none

fix: snapshot tool topology & DRA update v0.9 (#920)
  cmd/snapshot-tool/main.go
  pkg/common/feature_gates/feature_gates.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Add resourceReservation image repo, tag, policy to Kai-config
  deployments/kai-scheduler/templates/kai-config.yaml
  deployments/kai-scheduler/values.yaml
Due: none

Add changelog
  CHANGELOG.md
Due: none

chore: update coverage badge [skip ci]
  badges/coverage.svg
Due: none

log error format miss %v
  pkg/scheduler/framework/session.go
Due: go-imports, go-mod-tidy-check, golangci-lint

docs(gpu-sharing): add verification commands to GPU sharing documentation
  docs/gpu-sharing/README.md
Due: none

chore: update changelog (#923)
  CHANGELOG.md
Due: none

Remove pod-name label from bindingRequests - we do not use this label, and it creates problems when the pod name is too long for a label
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Revised design
  docs/developer/designs/k8s-workload-api/README.md
Due: none

Added grove example
  examples/grove/README.md
  examples/grove/podcliqueset.yaml
  examples/grove/topology.yaml
Due: none

fix(scheduler): Remove pod-name label from bindingRequests (#925)
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

Remove pod-name label from bindingRequests - v0.6
  pkg/scheduler/cache/cache.go
Due: go-imports, go-mod-tidy-check, golangci-lint

fix: revert naming changes in changelog
  CHANGELOG.md
Due: none

Path conditions:
  go-imports: any of: \.go$, but not: (?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$

  go-mod-tidy-check: any of: (^go\.(mod|sum)$|\.go$), but not: (?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$

  golangci-lint: any of: (^go\.(mod|sum)$|\.go$) and \.go$ and not ((?x)^(
    \.git/|
    \.github/|
    bin/|
    build/.*\.mk$|
    deployments/.*\.(yaml|yml)$|
    hack/.*\.(yaml|yml|sh)$|
    \.pre-commit-config\.yaml|
    CHANGELOG\.md|
    NOTICE|
    pkg/.*/mock/.*\.go$
)$
)
